 .main_chat
  .main_chat__group
    .main_chat__group__name
      %h2.main_chat__group__name__member
        = @group.name
      %ul.main_chat__group__name__user-name
        %li.main_chat__group__name__user-name__list
        Member :
        - @group.users.each do |user|
          = user.name

    .main_chat__group__edit-btn
      = link_to edit_group_path(@group) do
        Edit
 
 
  .main_chat__message
    = render @messages
    
    
  .main_chat__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'main_chat__form__message', placeholder: 'type a message'
      .main_chat__form__message__input-box
        = f.label :image, class: 'main_chat__form__message__input-box__input-text__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'main_chat__form__message__input-box__input-text__image__file'
      = f.submit 'Send', class: 'main_chat__form__message__input-box__send-box'
        

  